/*Exemplo de estilo na tag principal*/
body{
    background-color: azure;
}

/*Exemplo de estilo em tag específica*/
header{
    text-align: center;
}

/*Exemplo de estilo pelo ID*/
#description{
    background-color: aqua;    
}

/*Exemplo de estilo pelo class*/
.linha_formulario{
    background-color: aquamarine;    
}