body{
 

#description{
    background-color: #7fffd4;
}

.linha_formulario{
    background-color: #ffe4c4;
}

#texto_estilizado {
    font-size: 25;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: chocolate;
    height: 200px;
    margin: 20px;
    padding: 50px;
}

@media (condição) {

  	/* Regras CSS que serão aplicadas quando a condição for verdadeira */

}

.conteudo{
       width: 1024px;
}

@media(max-width: 768px){
       .conteudo{
              width: 720px;
       }
}

