<h3 class="titulo">{{curso?.name}}</h3>
<section class="details">
    <img class="image" [src]="curso?.image">
    <section class="info">
        <section class='label'>
            <p class="label-texto">Carga-Horária:</p>
            <p class="titulo-normal">{{curso?.cargaHoraria}}</p>
        </section>
        <section class='label'>
            <p class="label-texto">Professor:</p>
            <p class="titulo-normal">{{curso?.professor}}</p>
        </section>
        <section class='label'>
            <p class="label-texto">Descrição:</p>
            <p class="titulo-normal">{{curso?.description}}</p>
        </section>
    </section>
</section>
<section class="objetivos">
    <h4 class="titulo">O que você vai aprender?</h4>
    <section class="itens">
        <section class='item'>
            <p class="item-number">1</p>
            <p class="item-text">Desenvolver aplicação web completa</p>
        </section>
        <section class='item'>
            <p class="item-number">2</p>
            <p class="item-text">Angular para o front-end</p>
        </section>
        <section class='item'>
            <p class="item-number">3</p>
            <p class="item-text">.NET para o back-end</p>
        </section>
        <section class='item'>
            <p class="item-number">4</p>
            <p class="item-text">Ferramentas como Github e Docker</p>
        </section>
        <section class='item'>
            <p class="item-number">5</p>
            <p class="item-text">Projeto e implementação de banco de dados com ORM</p>
        </section>
        <section class='item'>
            <p class="item-number">5</p>
            <p class="item-text">Deploy e manutenção</p>
        </section>
    </section>
</section>