<h3 class="titulo">{{curso?.name}}</h3>
<section class="details">
    <img class="image" [src]="curso?.image">
    <section class="info">
        <section class='label'>
            <p class="label-texto">Carga-Horária:</p>
            <p class="titulo-normal">{{curso?.cargaHoraria}}</p>
        </section>
        <section class='label'>
            <p class="label-texto">Professor:</p>
            <p class="titulo-normal">{{curso?.professor}}</p>
        </section>
        <section class='label'>
            <p class="label-texto">Descrição:</p>
            <p class="titulo-normal">{{curso?.description}}</p>
        </section>
    </section>
</section>
<section class="objetivos">
    <h4 class="titulo">O que você vai aprender?</h4>
    <app-item *ngFor="let item of curso!.items" [itemData]="item"></app-item>
</section>