<section class="description">
    <img src="../../../assets/images/painel.png" width="300" height="300">
    <div class="card-principal">
        <h2 class="titulo">Seja bem-vindo</h2>
        <p class="texto-normal">No coração da inovação baiana, com uma abordagem única e focada na prática, nosso
            projeto de residência
            tecnológica oferece não apenas conhecimento teórico, mas também experiências reais. Nossa missão é clara:
            fortalecer a força de trabalho de TIC na Bahia, promovendo o empreendedorismo e a inovação. Venha fazer
            parte
            dessa jornada e elevar sua carreira para novos patamares!
        </p>
    </div>
</section>